body{
    background-color: #d1bbb4;
}
.maindiv{
    margin: 0 auto;
    max-width: 60%;
    background-color:#F15A29;
    border-radius:2px;
    color: black;
}
.menulogo{
    background-image: url('assets/backgrounds/landing.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    display: block;
    font-size: 25px;
    position: relative;
    overflow: hidden;
}
.services {
    display: flex;
    flex-direction: row;
    height: 130px;
    font-size: 18px;
   
}
#fun_time,#breakfast, #lunch, #dinner{
    flex: 1;
    text-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#breakfast{
    background-image: url('assets/foodtop/breakfast.jpg');
}
#lunch{
    background-image: url('assets/foodtop/lunch.jpg');
}
#dinner{
    background-image: url('assets/foodtop/dinner.jpg');
}
.fastfood{
    display: flex;
    background-color: whitesmoke;
}
#ff_image{
    width: 50%;
    box-sizing: border-box;
    padding: 50px;
    padding-right: 20px;
    
}  
#imgs{
    display: flex;
    flex-direction: column;
    border: 12px solid rgb(230, 230, 236);
    border-radius: 2px;
    box-shadow: 0px 0px 9px rgb(53, 53, 53);
    
}
#ff_text{
    float: left;
    width: 50%;
    height: auto;
    padding: 20px;
    padding-right: 50px;
    margin-left: 10px;
    font-size: 100%;
    
}

@media only screen and (max-width:1000px){
    body {
        font-size: 1.5vw;
    }
    
}
#ff_image> img, #ff_image> img{
    max-width: 100%;
    clear: both;
}